/.qmake.stash
/Makefile
/build/
/lighttunnel
/*.o
/moc_*.cpp
/moc_predefs.h
/qrc_*.cpp
/tests/Makefile
/tests/.qmake.stash
/tests/lighttunnel_tests
/tests/*.o
/tests/moc_*.cpp
/tests/moc_predefs.h
/tests/*.moc
/tests/target_wrapper.sh
/packaging/arch/pkg/
/packaging/arch/src/
/packaging/arch/*.pkg.tar.*
/packaging/arch/*.log
